[opennebula]
name=Opennebula {{ opennebula_version }}
baseurl=https://downloads.opennebula.org/repo/{{ opennebula_version }}/CentOS/$releasever/$basearch/
enabled=1
gpgkey=https://downloads.opennebula.org/repo/repo.key
gpgcheck=1
